extends layout
block content
    
    form(method='POST',action='/satta/edit/'+sattan._id)
        .row
            h3 Satta Updater 
        .col.s12
            .row
                .input-field.col.s12
                    label Name:
                    input.form-control(name='name',type='text',value=sattan.name)

            .row
                .input-field.col.s12
                    label Number:
                    input.form-control(name='number',type='text',value=sattan.number)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Color
                    input.form-control(name='color',type='text',value=sattan.color)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Background Color
                    input.form-control(name='bgcolor',type='text',value=sattan.bgcolor)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Time 1
                    input.form-control(name='time',type='text',value=sattan.time)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Time 2
                    input.form-control(name='time1',type='text',value=sattan.time1)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Date
                    input.form-control(name='date',type='date',value=sattan.date)
            .row
                .input-field.col.s12
                    
                    button.btn(type="submit",onclick="M.toast({html: 'Data Updated'})") Edit
               
                    
                    a.btn.right(type="submit" href="/patti/chart/edit/"+sattan._id) Done
            
            
          
          
      
                    
      
                    
        
				
		
			
				
			
   
