extends layout
block content
    
    form(method='POST',action='/livesatta')
        .row
            h4 Live Update  
            
        .col.s6
            .row
                .input-field.col.s12
                    label Name:
                    input.form-control(name='name',type='text')

            .row
                .input-field.col.s12
                    label Number:
                    input.form-control(name='number',type='text')
            .row
                .input-field.col.s12
                    label background color:
                    input.form-control(name='bgcolor',type='text')
            .row
                .input-field.col.s12
                    label color:
                    input.form-control(name='color',type='text')
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Time 1
                    input.form-control(name='time',type='text')
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Time 2
                    input.form-control(name='time1',type='text')
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Date
                    input.form-control(name='date',type='date')
            .row
                .input-field.col.s12
                    
                    button.btn(type="submit") Submit
            
        .col.s6
        
            table.table.table-hover.table-dark(id="example")
                thead
                    td Name
                    td Number
                    td Time 1
                    td Time 2
                    td Date
                    td Edit
                    td Delete
                   
     
                each sattan1, i in satta1
                    tbody
                        td= sattan1.name
                        td= sattan1.number
                        td= sattan1.time
                        td= sattan1.time1
                        td= sattan1.date
                        td
                            a.btn.btn-dark(title="Edit",onclick="M.toast({html: 'Edit Data'})",data-toggle="tooltip", data-placement="bottom",href='/livesatta/edit/'+sattan1._id)
                                i.fa.fa-pencil 
                        td
                            form(action='/livesatta/delete/'+sattan1._id+'?_method=DELETE',method='POST')
                                button.btn.btn-dark(type='submit' title="Remove",onclick="M.toast({html: 'Data Removing'})",data-toggle="tooltip", data-placement="right")
                                   i.fa.fa-trash
                            
                                    
                                
                          
                
          
        br
        br
        br
        br
      
                    
      
                    
        
				
		
			
				
			
   
