doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    title SATTA MATKA | SATTA MARKET | KALYAN MATKA | FASTEST MATKA RESULTS | FREE GUESSING | SAT MAT RAT(सटमटरट) | MUMBAI MATKA SATMATRAT.IN
    meta(name='viewport', content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='css/maino.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico|Roboto')
    meta(http-equiv='refresh', content='900')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='HandheldFriendly', content='true')
    meta(name='description', content='SATTA MATKA | SATTA MARKET | KALYAN MATKA | FASTEST MATKA RESULTS | FREE GUESSING | SAT MAT RAT(सटमटरट) | MUMBAI MATKA SATMATRAT.IN')
    meta(name='keywords', content='SATTA MATKA | SATTA MARKET | KALYAN MATKA | FASTEST MATKA RESULTS | FREE GUESSING | SAT MAT RAT(सटमटरट) | MUMBAI MATKA SATMATRAT.IN')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-133660092-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-133660092-1');
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-46528741-8')
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());
    //-   gtag  ('config', 'UA-46528741-8');
    script(async='' src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8933382959388159",
      enable_page_level_ads: true
      });
    link(rel='shortcut icon', href='/favicon.ico')
    style.
      hr {
          border: none;
          height: 2px;
          /* Set the hr color */
          color: #333; /* old IE */
          background-color: #333; /* Modern Browsers */
      }
      a:link {
          text-decoration: none;
      }

      a:visited {
          text-decoration: none;
      }

      a:hover {
          text-decoration: none;
      }

      a:active {
          text-decoration: none;
      }
      @font-face{
      font-family:Montserrat, sans-serif;
      src:url(LatoLatin-BoldItalic.woff2);
      }
      #fix { background-color: #ffffff; color: black; border-top-width: 2px; border-top-color: red; border-top-style: solid; border-bottom-width: 2px; border-bottom-color: red; border-bottom-style: solid; border-left-width: 2px; border-left-color: red; border-left-style: solid; border-right-width: 2px; border-right-color: red; border-right-style: solid;  margin-top: 4px; margin-bottom: 4px; margin-left: 4px; margin-right: 4px; padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; font-weight: bold; text-decoration: none; font-size: large; font-style: italic; }
      #fixx { background-color: #ffffff; color: black; border-top-width: 2px; border-top-color: red; border-top-style: solid; border-bottom-width: 2px; border-bottom-color: red; border-bottom-style: solid; border-left-width: 2px; border-left-color: red; border-left-style: solid; border-right-width: 2px; border-right-color: red; border-right-style: solid;  margin-top: 4px; margin-bottom: 4px; margin-left: 4px; margin-right: 4px; padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; font-weight: bold; text-decoration: none; font-size: large; font-style: italic;  font-family: "Times New Roman", Times, serif; letter-spacing: 1px; line-height:1.1em; }
      body {background-color: black;}
      .tit{font-size: 35px;
      font-style: italic;
       font-weight: bold;
      padding-bottom:20px;
          font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
      }
      .loading{font-size: 25px;font-style: italic;text-shadowo: 1px 1px rgb(165, 161, 163);margin-top: -25px;margin-bottom: -8px;}
      .satta-matka-block_strt_gold{
      background-color: #FDF6DA;color:#000;font-size: 12px;
      padding:10px;text-align:center;border:#FFB80C solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .btn_red{color:#fff;text-decoration: none;font-weight: bold;}
      .satta-matka-block_strt0{
      background-color: #BE0201;border-radius: 5px;font-size: 20px;
      padding:10px;text-align:center;border:#FFB80C solid 2px;font-style:italic;margin-top:10px;margin-bottom:10px;font-weight:bold;
      }
      .satta-matka-block_strtF{
      background-color: #a10131;border-radius: 5px;font-size: 19px;
      padding:10px;text-align:center;border:#fff solid 2px;font-style:italic;font-family: Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;font-weight:bold;
      }
      .satta-matka-block_strt1{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;font-weight: bold;
      padding:10px;text-align:center;border:#F83400 solid 2px;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt_live{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;font-weight: bold;
      padding-bottom:10px;padding-top:10px;text-align:center;border:#F83400 solid 2px;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt_adsen1{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 0px;font-weight: bold; font-style: italic;
      padding-bottom:10px;padding-top:10px;text-align:center;border:#FF0040 solid 2px;font-style:italic;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt_adsen9{
      background-color:#eee;color: #000;font-size: 18px;border-radius: 0px;font-weight: bold;
      padding-bottom:10px;padding-top:10px;text-align:center;border:solid 2px #F00;border-radius: 3px;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px; line-height: 24.4px; font-style:italic;
      }
      .satta-matka-block_strt_adsen2{
      background-color:#fff;color: #000;font-size: 15px;border-radius: 0px;font-weight: bold;
      padding-bottom:10px;padding-top:10px;text-align:center;border:#00CC00 solid 2px;font-family:Helvetica, monospace;margin-top:10px;margin-bottom:10px; font-style: italic; line-height:22.4px;
      }
      .satta-matka-block_strt_footer{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;font-weight: bold;
      padding:10px;text-align:center;border:#9C002F solid 2px;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt2{
      background-color:#F83400;color: #fff;font-size: 30px;font-weight: bold;border-radius: 5px;
      padding-bottom:15px;text-align:center;border:#FFB90C solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt3{
      background-color:#FF0015;color: #000;font-size: 40px;font-weight: bold;border-radius: 5px;padding-bottom: 15px;
      text-align:center;border:#FFB90C solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:-2px;margin-bottom:10px;
      }
      .satta-matka-block_strt4{
      background-color:#fff;color: #000;font-size: 12px;
      padding-bottom: 10px;text-align:center;border:#FF0015 solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-bottom:10px; line-height: 20.4px;
      }
      .satta-matka-block_strt_all{
      color: #000;font-size: 12px;border-radius: 0px;
      text-align:center;border-top:red solid 2px;border-right:red solid 2px;border-left:red solid 2px
      }
      /*padding-bottom: 10px;text-align:center;border: #b31f1f solid 5px;font-style:italic;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;*/
      .satta-matka-block_strt_login{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;
      padding-bottom: 10px;text-align:center;border:#560202 solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt_ex_zone{background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;
      padding-bottom: 10px;text-align:center;border:#97002E solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt_all_zone{background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;
      padding-bottom: 10px;text-align:center;border:#372F2D solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;}
      .satta-matka-block_strt_gm_zone{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;padding-bottom: 10px;
      text-align:center;border:#700020 solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt_786{
      background-color:#fff;color: #000;font-size: 12px;border-radius: 5px;padding-bottom: 10px;
      text-align:center;border:#7A0025 solid 2px;font-style:italic;font-family:Montserrat, sans-serif;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt5{
      background-color:#e78200;color: #000;font-size: 12px;border-radius: 5px;
      padding-bottom: 10px;text-align:center;border:#FF0015 solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_zonem{
      background-color:#005953;color: #fff;font-size: 12px;border-radius: 5px;
      padding:10px;text-align:center;border:#FF0015 solid 2px;font-style:italic;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zonec{
      background-color:#cd330c;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zonea{
      background-color:#9c187d;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone1{
      background-color:#005953;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone2{
      background-color:#7b2e00;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone3{
      background-color:#406718;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;font-style:italic;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone4{
      background-color:#764c24;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone5{
      background-color:#555555;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone6{
      background-color:#7a0025;color: #fff;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;font-style:italic;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Helvetica Neue;font-size:18px;;
      }
      .satta-matka-block_zone7{
      background-color:#e9e9e9;color: #780127;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;border:#7a0025 solid 2px;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;;
      }
      .satta-matka-block_zoneak
      {
      background-color:#fff5f8;color: #000000;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;
      border-top: 2px solid #e70042;
      border-bottom: 2px solid #e70042;
      border-left: 2px solid #e70042;
      border-right: 2px solid #e70042;
      background-color: #fff5f8;
      border-radius: 3px;
      box-o: 0 0 10px #461300;
      margin: 7px 0 0 0;
      margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;;
      }
      .satta-matka-block_zoneakc
      {
      background-color:#fff5f8;color: #000000;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;
      border-top: 2px solid #7a0025;
      border-bottom: 2px solid #7a0025;
      border-left: 2px solid #7a0025;
      border-right: 2px solid #7a0025;
      background-color: #fff5f8;
      border-radius: 3px;
      box-o: 0 0 10px #461300;
      margin: 7px 0 0 0;
      margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;;
      }
      .satta-matka-block_zone8{
      background-color:#cbdce3;color: #002736;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;border:#FF0015 solid 2px;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;
      }
      .satta-matka-block_zone9{
      background-color:#ececec;color: #35302d;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;border:#372f2d solid 2px;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;;
      }
      .satta-matka-block_zone10{
      background-color:#ececec;color: #7c0025;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;border:#7c0025 solid 2px;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;
      }
      .satta-matka-block_zone11{
      background-color:#e8e8e8;color: #003f6b;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;border:#01587d solid 2px;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:18px;
      }
      .block1{color: #000 !important;font-weight: bold !important;background-color:#f8f1f1;padding: 2px;border-radius: 0px;margin-bottom: -15px;margin-top: -10px;}
      .block2{color: #000 !important;font-weight: bold !important;background-color: #FDF6DA;padding: 2px;border-radius: 0px;margin-top: -11px; margin-bottom: -15px; }
      .block3{color: #000 !important;font-weight: bold !important;background-color:#f8f1f1;padding: 2px;border-radius: 0px;margin-bottom: -15px;}
      .rblock1{color: #000 !important;font-weight: bold !important;background-color:#fcf5f5;padding: 1px;margin-bottom: -4px;margin-top: 4px;}
      .rblock2{color: #000 !important;font-weight: bold !important;background-color:#fcf5f5;padding: 1px;margin-bottom: -22px;margin-top: -20px;}
      .rblock3{color: #000 !important;font-weight: bold !important;background-color:#f6de14;padding: 1px;margin-bottom: -53px;margin-top: -5px;}
      .refresh{font-style: italic;margin-top: -10px;background:#BC0203 repeat scroll 0 0;border-radius:6px;color:#F6DA06;cursor:pointer;display:inline-block;font-family:Arial;font-size:15px;font-weight:bold;margin-top:10px;padding:6px 24px;text-decoration:none;text-o:0 1px 0 #9b14b3;margin-bottom: 20px;}
      .refresh_big{background:#BC0203 repeat scroll 0 0;border-radius:6px;color:#F6DA06;cursor:pointer;display:inline-block;font-family:Arial;font-size:20px;font-weight:bold;font-style: italic;margin-top:10px;padding:12px 50px;text-decoration:none;text-o:0 1px 0 #9b14b3;margin-bottom: 20px;border:2px solid #fff;}
      .live_res{font-size: 20px;color: #ff1100;margin-top: -15px;padding-top:10px;	font-family: 'Open Sans', sans-serif;}
      table, td, th {
      border: 1px solid black;
      font-family:Montserrat, sans-serif;
      }
      table {
      width: 100%;
      border-collapse: collapse;
      }
      th {
      background: #333;
      font-weight: bold;
      font-size: 13px
      font-family:Montserrat, sans-serif;
      }
      td{
      /*padding: 6px;*/
      border: 2px solid #7e2b2b;
      text-align: center;
      font-size: 15px;
      color: #484040;
      font-weight: 600;
      font-family:Montserrat, sans-serif;
      }
      .btn2{background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;display:inline-block;font-size:14px;font-weight:400;line-height:1.42857;margin-bottom:0;padding:6px 12px;text-align:center;vertical-align:middle;white-space:nowrap; height:auto; padding:0 12px; font-style:italic;background-color: #d9534f;color: #fff;}
      .heading{background-color: black;
      color: white;
      border-width: 3px;
      border-color: #6960ec;
      border-style: outset;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 05px;
      font-weight: bold;
      font-size: 22px;}
      body{font-family:Helvetica Neue;color:#aaaaaa;background-color:#000;margin-top:8px;margin-bottom:8px;}
      *{box-sizing:border-box;}
      .satta-matka-header{color:#fff;background-color:#FF0040;padding:0px;text-align:center;border:#FF0 solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:15px;margin-bottom:15px;}
      h1{color:#000;font-size:2em;font-weight:bold;}
      h1 a{color:#000;text-decoration:none;}
      h2{color:#000;font-size:1em;font-weight:bold;font-size: 15px;}
      h2 a{color:#000;}
      .a14{position:fixed;bottom:20px;right:5px;border:#141313 1px solid;background:#d9534f;color:white;height:auto;padding:5px;font-style:italic;}
      @media only screen and (max-width: 500px) {
      .tit {
      font-size: 30px;
      font-style: italic;
      text-o: 1px 1px #8BC34A;
      font-family: 'Open Sans', sans-serif;
      }
      .loading {
      font-size: 20px;font-style: italic;text-o: 1px 1px rgb(165, 161, 163);margin-top: -15px;margin-bottom: -6px;
      }
      .refresh {
      margin-top: -10px;
      background: #BC0203 repeat scroll 0 0;
      border-radius: 6px;
      color: #F6DA06;
      cursor: pointer;
      display: inline-block;
      font-family: Arial;
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      padding: 4px 9px;
      text-decoration: none;
      text-o: 0 1px 0 #9b14b3;
      margin-bottom: 2px;
      font-style: italic;
      }
      .satta-matka-block_strt2{
      background-color:#F83400;color: #fff;font-size: 21px;font-weight: bold;border-radius: 5px;padding-top:15px;
      padding-bottom:15px;text-align:center;border:#FFB90C solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_strt3{
      background-color:#FF0015;color: #fff;font-size: 20px;font-weight: bold;border-radius: 0px;padding-bottom: 15px;padding-top:15px;
      text-align:center;border:#FFB90C solid 2px;font-style:italic;font-family:Helvetica Neue;margin-top:10px;margin-bottom:10px;
      }
      .satta-matka-block_zone8 {
      background-color: #cbdce3;
      color: #002736;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: #FF0015 solid 2px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      }
      .satta-matka-block_zone1 {
      background-color: #005953;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone2 {
      background-color: #7b2e00;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone3 {
      background-color: #406718;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 15px;
      text-align: center;
      font-style: italic;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone4 {
      background-color: #764c24;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone5 {
      background-color: #555555;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone6 {
      background-color: #7a0025;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 15px;
      text-align: center;
      font-style: italic;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone7 {
      background-color: #e9e9e9;
      color: #780127;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: #7a0025 solid 2px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      }
      .satta-matka-block_zoneak {
      background-color: #fff5f8;
      color: #000000;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border-top: 2px solid #e70042;
      border-bottom: 2px solid #e70042;
      border-left: 2px solid #e70042;
      border-right: 2px solid #e70042;
      background-color: #fff5f8;
      border-radius: 3px;
      box-o: 0 0 10px #461300;
      margin: 7px 0 0 0;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      }
      .satta-matka-block_zoneakc {
      background-color: #fff5f8;
      color: #000000;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border-top: 2px solid #7a0025;
      border-bottom: 2px solid #7a0025;
      border-left: 2px solid #7a0025;
      border-right: 2px solid #7a0025;
      background-color: #fff5f8;
      border-radius: 3px;
      box-o: 0 0 10px #461300;
      margin: 7px 0 0 0;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Helvetica Neue;
      font-size: 16px;
      }
      .satta-matka-block_zone8{
      background-color:#cbdce3;color: #002736;font-size: 12px;border-radius: 5px;font-weight:bold;
      padding:10px;text-align:center;border:#FF0015 solid 2px;margin-top:10px;margin-bottom:10px;
      font-style:italic;font-family:Montserrat, sans-serif;font-size:16px;
      }
      .satta-matka-block_zone9 {
      background-color: #ececec;
      color: #35302d;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: #372f2d solid 2px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      }
      .satta-matka-block_zone10 {
      background-color: #ececec;
      color: #7c0025;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: #7c0025 solid 2px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      }
      .satta-matka-block_zone11 {
      background-color: #e8e8e8;
      color: #003f6b;
      font-size: 12px;
      border-radius: 5px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: #01587d solid 2px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      }
      .refresh_big {
      background: #BC0203 repeat scroll 0 0;
      border-radius: 6px;
      color: #F6DA06;
      cursor: pointer;
      display: inline-block;
      font-family: Arial;
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
      padding: 8px 36px;
      text-decoration: none;
      text-o: 0 1px 0 #9b14b3;
      margin-bottom: 20px;
      border: 2px solid #fff;
      font-style: italic;
      }
      td{
      /*padding: 6px;*/
      border: 2px solid #7e2b2b;
      text-align: center;
      font-size: 14px;
      font-family:Montserrat, sans-serif;
      /* color: #484040 !important; */
      }
      }
      .logo {
      color: #FFF;
      font-family: 'Pacifico', cursive;
      font-size: 2em;
      }
  body
    div(style='text-align:center;')
      //- img(src='images/lg33.png', alt='satta')
      h2.logo SATMATRAT - सटमटरट
      div(align='center')
      //- img.float-left.img-circle(style="height:100px;width:100px" src="https://drsandeepkr.files.wordpress.com/2016/03/shiva_codes_by_vishnu108.gif")
      img.float-left.img-circle(style="height:100px;width:100px" src="./shivji.gif")
      img.float-left.img-circle(style="height:100px;width:100px" src="https://i.pinimg.com/originals/eb/3c/0e/eb3c0e2b657a9f9bcbfea44a2061f45e.gif")
    .satta-matka-block_strt_gold
      | ❋ Satmatrat ❋ Satta Matka Results ❋ SattaMatka ❋ Matka tips ❋ Free Matka Results ❋ Kalyan Matka Results ❋ Satta Game ❋ Matka Game ❋ Mumbai Main ❋ Kalyan Results ❋ Kalyan Chart ❋ Main Mumbai Chart ❋ Online Matka Results ❋ Satta Matka Tips ❋ Milan Chart ❋ Old Satta chart ❋ Top Matka Guess ❋ Matka Links ❋ Live Satta Matka Results ❋ Satta Matka Number ❋ Satta Matka Software ❋ Matka Chart ❋ Matka ❋ Free Matka Guessing ❋
    h2#totalcolor.btn_red(style='font-size: 19px;color:red;text-align:center')
      font(size='5')
        big
          b
            i
              | &#9734;  
              i#todayHTML1
              |  &#9734;
              br
              | &#9734; 
              i#output
              |  &#9734;
              br
              | &#9734; 
              i#todayHTML
              |  &#9734;
              br
              img(src='https://sattamatkai.net/images/FREE2.gif', alt='free ank')
              |   &#9734;  
              i#MyClockDisplay 
              |   &#9734;  
              img(src='https://sattamatkai.net/images/FREE2.gif', alt='free ank')   
    each notice, i in notices
      div(style='background-color: '+notice.bgcolor+';border-radius: 5px;font-size: 19px;padding: 10px;text-align: center;border: #fff solid 2px;font-style: italic;font-family: Montserrat, sans-serif;margin-top: 10px;margin-bottom: 10px;') 
        div!= notice.text

    .patte(style="background-color: #ffffff" align='center')
      div(style=';margin:10px;font-color=white')
        font(size='4')
          h1
            b
              i * PATTE UPDATE *

          div(style=';text-align:center')
    
      div(style=';margin-top:10px')
        font(size='4')
          h1
            b
              i * DHARMATMA *
          hr 
            //- each patten, j in patte
            //- hr(style="margin-top:-12px")
      each patte, i in pattes
        div(style='background-color: '+patte.bgcolor+';border-radius: 5px;font-size: 19px;padding: 10px;text-align:center ;border: #fff solid 2px;font-style: italic;font-family: Montserrat, sans-serif') 
          big
            b
              i
                font(color=''+patte.color+'', size='6', text-align= 'center', padding= '10px')= patte.text 
                    br
                    .flip-container
                      .flipper
                        .front
                          img(src ='/patteimages/'+patte.select1+'.png')
                        .back
                          img(src ='/patteimages/back.png')
                    .flip-container
                      .flipper
                        .front
                          img(src ='/patteimages/'+patte.select2+'.png')
                        .back
                          img(src ='/patteimages/back.png')
                    .flip-container
                      .flipper
                        .front
                          img(src ='/patteimages/'+patte.select3+'.png')
                        .back
                          img(src ='/patteimages/back.png')
                    .flip-container
                      .flipper 
                        .front 
                          img(src ='/patteimages/'+patte.total+'.png')
                        .back
                          img(src ='/patteimages/back.png')


          style.
            /* entire container, keeps perspective */
            .flip-container {
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            -ms-perspective: 1200px;
            perspective: 1200px;
            position: relative;
            display: inline-block;
            margin: .2em;
            width: 100%;
            height: 120px;
            
            
            }
            .flip-container:hover {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
            }
            /* flip the pane when hovered */
            .flip-container .flipper,
            .flip-container .flipper {
            backface-visibility: hidden;
            -webkit-animation-name: spinner;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 8s;
            animation-name: spinner;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-duration: 8s;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
            }
            .flip-container,
            .front,
            .back {
            width: 70px;
            }
            /* flip speed goes here */

            .flipper .front img {
            width: 70px;
            height: 120px;
            }
            .flipper .back img {
            width: 70px;
            height: 120px;
            }
            /* hide back of pane during swap */
            .front,
            .back {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            }
            /* front pane, placed above back */
            .front {
            z-index: 3;
            /* for firefox 31 */
            transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            }
            /* back, initially hidden pane */
            .back {
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            background: #342e89;
            text-align: center;
            }
            /* infinite rotate */
            /* WebKit and Opera browsers */
            @-webkit-keyframes spinner {
            from {
            -webkit-transform: rotateY(0deg);
            }
            to {
            -webkit-transform: rotateY(-360deg);
            }
            }
            /* all other browsers */
            @keyframes spinner {
            from {
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            }
            to {
            -moz-transform: rotateY(-360deg);
            -ms-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
            }
            }

          //- script
          //- function createDoll(userChoice) {
          //-     var patte = document.getElementById("select1");
          //-     patte.innerHTML = "";

          //-     var links = [
          //-         "http://www.dreamomania.info/dreamdictionary/wp-content/uploads/2013/02/V.jpg",
          //-         "http://i452.photobucket.com/albums/qq248/lostvegasvip/Burning-letter-P-psd26647.png",
          //-         "http://www.arro-signs.co.uk/red-letter-s.jpg",
          //-         "http://colleenmorrow.com/wp-content/uploads/2011/09/the-letter-m.png"
          //-     ];

          //-     var select1 = ["Vintage", "Plaid", "Skater", "Maxi"];
          //-     var img = '<img src="' + links[userChoice] + '">';

          //-     patte.innerHTML = img;
          //- }










    .live(style="background-color: #48FF00" align='center')
      div(style=';margin-top:-10px')
        font(size='4')
          h1
            b
              i * LIVE UPDATE *
    div(style="text-align:center")
      each liven, j in live
        //- hr(style="margin-top:-12px")
        //- div(style='height:10px;background: '+liven.bgcolor+';')  
        if(liven.name!='')
          div.rblock3(style='background: '+liven.bgcolor+';margin-bottom:7px')
            //- div(style="margin-top:-6px")
            big
              b
                i
                  font(color=''+liven.color+'', size='5').tit.spano= liven.name 
                  br
                  font(color=''+liven.color1+'', style='font-size:44px;').tit.spano=  liven.number
    each footer, i in headers
      
      div(style='margin-top:-12px;background-color: '+footer.bgcolor+';border-radius: 5px;font-size: 19px;padding: 10px;text-align: center;border: #fff solid 2px;font-style: italic;font-family: Montserrat, sans-serif;margin-top: 2px;margin-bottom: 2px;')
      
        h2.btn_red(style='font-size: 19px;color:'+footer.color+'')!= footer.text
      //- .satta-matka-block_strt0
      //- a.btn_red(href='#') SATMATRAT.IN
      //- br
      //- a.btn_red(href='#') SATMATRAT 786
      //- br
      //- a.btn_red(href='#') SATMATRAT GUESSING
      //- br
      //- a.btn_red(href='#') SATMATRAT RESULT SITE
      //- br
      //- a.btn_red(href='#') !! PROFESSOR !!
      //- br
      //- a.btn_red(href='#') !! ADMIN SIR !!
      //- br
      //- a.btn_red(href='#') 
      //- br
    style.
      .live {
      background-color: mintcream;
      border-color: orange;
      border-style: solid;
      border-width: 3px;
      color: black;
      font-style: italic;
      font-weight: bold;
      text-o: 1px 1px rgb(216, 185, 71);
      }
      .btn-danger {
      background-color: #d9534f;
      border-color: #d43f3a;
      color: #fff;
      }
      .btn {
      -moz-user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857;
      margin-bottom: 0;
      padding: 6px 12px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      }
    //- .live(align='center')
    //-   div(style=' background-color: #48FF00;margin-top:-10px')
    //-     font(size='5')
    //-       h1
    //-         b
    //-           i#todayHTML1
    //-       h1
    //-         b
    //-           i#output
    //-       h1
    //-         b
    //-           i#todayHTML
    //-       h1
    //-         b
    //-           i#MyClockDisplay
    //- h2#totalcolor.btn_red(style='font-size: 19px;color:red;text-align:center')
    //-   font(size='5')
    //-     big
    //-       b
    //-         i
    //-           | &#9734;  
    //-           i#todayHTML1
    //-           |  &#9734;
    //-           br
    //-           | &#9734; 
    //-           i#output
    //-           |  &#9734;
    //-           br
    //-           | &#9734; 
    //-           i#todayHTML
    //-           |  &#9734;
    //-           br
    //-           img(src='https://sattamatkai.net/images/FREE2.gif', alt='free ank')
    //-           |   &#9734;  
    //-           i#MyClockDisplay 
    //-           |   &#9734;  
    //-           img(src='https://sattamatkai.net/images/FREE2.gif', alt='free ank')

              

      //- .live(align='center')
      //-   div(style=' background-color: #48FF00;margin-top:-10px')
      //-     font(size='5')
      //-       h1
      //-         b
      //-           i * LIVE UPDATE *
      //- each liven, j in live
      //-   //- hr(style="margin-top:-12px")
      //-   //- div(style='height:10px;background: '+liven.bgcolor+';')  
      //-   if(liven.name!='')
      //-     div.rblock3(style='background: '+liven.bgcolor+';margin-bottom:7px')
      //-       //- div(style="margin-top:-6px")
      //-       big
      //-         b
      //-           i
      //-             font(color=''+liven.color+'', size='5').tit.spano= liven.name 
      //-             br
      //-             font(color=''+liven.color1+'', style='font-size:44px;').tit.spano=  liven.number

                  
                  
                  
                  //- input#Login.btn.btn-sm.btn-danger(style='height:auto; padding:0 12px; font-style:italic;', name='Refresh', value='Refresh', type='submit', onclick='window.location.reload()')
            
            //- br
            //- hr
              
            
            //- div(style='padding:5px;')  
        //- hr
      
    .satta-matka-block_strt3
      | ❋ MATKA RESULTS LIVE ❋
    //- hr
    .satta-matka-block_strt_all(style="padding-top:20px")
      each sattan, i in satta
        .rblock2(style='background:'+sattan.bgcolor+'')
          
          h1( style='color:'+sattan.color+'').tit= sattan.name
          h1( style='margin-top:-10px;color:'+sattan.color1+';font-size:44px').tit= sattan.number
          h1(style="margin-top:-8px") (#{sattan.time}  #{sattan.time1} )
        hr
      
    div(style='text-align: center;margin-top:-16px')
      a.refresh_big(onclick='window.location.reload()') Refresh
    style.
      .spano{
        
        animation: blink 1s linear infinite;
        
      }
      .spano1{
        
        animation: blink 1s linear infinite;
        color:white;
      }
      table{
      border-radius:0 0 5px 5px;
      width:100%;
      border-collapse: collapse;
      border:2px solid #aa6360;
      font-style: italic;
      }
      th{
      border-top:2px solid #aa6360;
      border-right:2px solid #6c1d00;
      border-left:2px solid #aa6360;
      background-color:#c4a481;
      text-align:center;
      font-family:Montserrat, sans-serif;
      padding:8px 0;
      font-style: italic;
      }
      tr:nth-child(even).kalyan_td{
      background-color:#f9f4f1;
      text-align:center;
      font-family:Montserrat, sans-serif;
      color:#252525;
      }
      tr:nth-child(odd).kalyan_td{
      background-color:white;
      text-align:center;
      font-family:Montserrat, sans-serif;
      color:#ae2500;
      }
      td{
      border-right:2px solid #aa6360;
      border-left:2px solid #aa6360;
      padding:0px 0px;
      font-family: Verdana, monospace;
      font-weight:700;
      font-style: italic;
      }
      .kalyan_td > td{
      border-right:2px solid #aa6360;
      border-left:2px solid #aa6360;
      padding:5px 0px;
      font-family: Montserrat, sans-serif;
      font-weight:700;
      font-style: italic;
      }
      tr:nth-child(even){
      background-color:#e5f8ff5e;
      text-align:center;
      font-family:Montserrat, sans-serif;
      color:#252525;
      }
      tr:nth-child(odd){
      background-color:white;
      text-align:center;
      font-family:Montserrat, sans-serif;
      color:#ae2500;
      }
    table(style='box-o: 0 0 10px #f1e6e2; border-radius: 0 0 5px 5px; width: 100%; border-collapse: collapse;  border: 2px solid #a15b01;')
      tbody
        tr
          td(colspan='4', style='background-color: #6c1d00; color:#fff;  font-size: 20px; font-weight: 700; padding: 10px; font-family:Montserrat, sans-serif;font-style: italic;') KALYAN STARLINE RESULT
        tr.kalyan_td(style='font-style:italic;')
          th(width='20%', style='background-color:#aa6360;text-align:center;color: #fff;') Time
          th(width='20%', style='background-color:#aa6360;text-align:center;color: #fff;') Result
          th(width='20%', style='background-color:#aa6360;text-align:center;color: #fff;') Time
          th(width='20%', style='background-color:#aa6360;text-align:center;color: #fff;') Result
        each kalyan , i in kalyans
          tr.kalyan_td(style='border-bottom: 2px solid #8c8583; font-style:italic;')
            td(width='20%', style='color:#ae2500;')= kalyan.time1
            td(width='20%', style='color:#ae2500;')= kalyan.result1
            td(width='20%', style='color:#ae2500;')= kalyan.time2
            td(width='20%', style='color:#ae2500;')= kalyan.result2
        //- tr.kalyan_td(style='border-bottom: 2px solid #8c8583; font-style:italic;')
        //-   td(width='20%') 11:00 AM
        //-   td(width='20%') 300-3 
        //-   td(width='20%') 05:00 PM
        //-   td(width='20%') 690-5 
        //- tr.kalyan_td(style='border-bottom: 2px solid #8c8583; font-style:italic;')
        //-   td(width='20%', style='color:#ae2500;') 12:00 PM
        //-   td(width='20%', style='color:#ae2500;') 136-0 
        //-   td(width='20%', style='color:#ae2500;') 06:00 PM
        //-   td(width='20%', style='color:#ae2500;') 679-2 
        //- tr.kalyan_td(style='border-bottom: 2px solid #8c8583; font-style:italic;')
        //-   td(width='20%') 01:00 PM
        //-   td(width='20%') 220-4 
        //-   td(width='20%') 07:00 PM
        //-   td(width='20%') 378-8 
        //- tr.kalyan_td(style='border-bottom: 2px solid #8c8583; font-style:italic;')
        //-   td(width='20%', style='color:#ae2500;') 02:00 PM
        //-   td(width='20%', style='color:#ae2500;') 135-9 
        //-   td(width='20%', style='color:#ae2500;') 08:00 PM
        //-   td(width='20%', style='color:#ae2500;') 255-2 
        //- tr.kalyan_td(style='border-bottom: 2px solid #8c8583; font-style:italic;')
        //-   td(width='20%') 03:00 PM
        //-   td(width='20%') 200-2 
        //-   td(width='20%') 09:00 PM
        //-   td(width='20%') 260-8 
    br
    .satta-matka-block_strt4(style='text-align: center;')
      div(style='margin-top:-2px;')
        img(src='images/timetable.png', alt='satta')
      table
        tbody
          tr
            td(style='font-weight: bold;color: #000;width: 40%;') MARKET
            td(style='font-weight: bold;color: #000;width: 30%;') OPEN
            td(style='font-weight: bold;color: #000;width: 30%;') CLOSE
          each time, i in times
            tr
              td(style='font-size:11px ')= time.market
              td(style='font-size:11px ')= time.open
              td(style='font-size:11px ')= time.close
          
    .satta-matka-block_strt_adsen1
      big
        b
          | MUMBAI AUR KALYAN MATKA GAME KELYEA BY SATMATRAT
          br
          | कल्याण मुंबई मटका फिक्स गेम रिजल्ट के लिय कॉल
          br
          font(color='red')
            //- big CALL 01141169999
            br
            big CALL 9112310269
      br
      | Serf Imandar Log He Call Karea
    div(style='margin-top:2px;margin-bottom:2px;padding-top:8px;padding-bottom:8px; border:#FF0040 2px solid; background:#fff; color:#000; font-style: italic; letter-spacing: 1px; line-height: 100%;', align='center')
      //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      //- ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5644214016514570', data-ad-slot='9319732348', data-ad-format='auto')
      //- script.
      //-   (adsbygoogle = window.adsbygoogle || []).push({});
      hr
    .satta-matka-block_strt_login(style='text-align: center;')
      div(style='font-weight: bold;\
      color: #fff;\
      background-color: #560202;\
      padding: 12px;\
      border-radius: 1px;\
      font-size: 18px;') ❋ USER LOGIN ❋ 
      //- button.refresh(onclick="window.location.href='/user/login'")
      //-   | MEMBER LOGIN
      //- button.refresh(onclick="window.location.href='https://app.sattamatka.mobi/user/egisatter'")
      //-   | matrat.inR
    
    each file, i in files
        img(style="height:auto;width:100%;text-align:center" align=center src='/Upimg/images/'+file.filename)

    
    .satta-matka-block_strt_gm_zone
      p(style='border-top-left-radius:1px;border-top-right-radius: 1px;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;background-color:#e70042; !important;color: #fff;font-size: 18px;font-weight: bold;') ❋ DAILY GAMES ZONE ❋ 
      div(style='padding-right: 7px;padding-left: 7px;')
        //- div(style='padding-top: 1px;padding-bottom: 1px;')
          //- a(style='text-decoration:none;color:#fff !important', href='https://satmatrat.in')
          //-   .satta-matka-block_zoneak(style='margin-top: -7px;')
          //-     | GUESSING FORUM
        //- div(style='padding-top: 1px;padding-bottom: 1px;')
        //-   a(style='text-decoration:none;color:#fff !important', href='https://app.sattamatka.mobi/experts-forum')
        //-     .satta-matka-block_zoneak(style='margin-top: -7px;')
        //-       | EXPERTS FORUM
        //- div(style='padding-top: 1px;padding-bottom: 1px;')
        //-   a(style='text-decoration:none;color:#fff !important', href='https://app.sattamatka.mobi/tricks-forum')
        //-     .satta-matka-block_zoneak(style='margin-top: -7px;')
        //-       | TRICKS FORUM
        //- div(style='padding-top: 1px;padding-bottom: 1px;')
        //-   a(style='text-decoration:none;color:#fff !important', href='open_to_close')
        //-     .satta-matka-block_zoneak(style='margin-top: -7px;')
        //-       | FREE OPEN TO CLOSE ON PUBLIC DEMAND
        //- div(style='padding-top: 1px;padding-bottom: 1px;')
        //-   a(style='text-decoration:none;color:#fff !important', href='https://satmatrat.in')
        //-     .satta-matka-block_zoneak(style='margin-top: -7px;')
        //-       | ALL MARKET MATKA FAST RESULT
        //- div(style='padding-top: 1px;padding-bottom: 1px;')
        //-   a(style='text-decoration:none;color:#fff !important', href='weekly_chart')
        //-     .satta-matka-block_zoneak(style='margin-top: -7px;')
        //-       | WEEKLY JODI AND PANNA
        div(style='padding-top: 1px;padding-bottom: 1px;')
          a(style='text-decoration:none;color:#fff !important', href='/open_to_close')
            .satta-matka-block_zoneak(style='margin-top: -7px;margin-bottom: -6px;')
              | FREE OPEN TO CLOSE ON PUBLIC DEMAND
        br
        div(style='padding-top: 1px;padding-bottom: 1px;')
          a(style='text-decoration:none;color:#fff !important', href='/weekly_chart')
            .satta-matka-block_zoneak(style='margin-top: -7px;margin-bottom: -6px;')
              | WEEKLY JODI AND PANNA
        
        
    .satta-matka-block_strt_adsen2
      each setting, i in settings
        span(style='color:'+setting.color+'').list-group-item.list-group-item-!= setting.title
      //- | ♠ PASSING RECORD:- ♠
      //- br
      //- | ♠_♠ WEEKLY PENAL - JODI & ♠_♠
      //- br
      //- |  ☆ OPEN TO CLOSE ☆
      //- br
      //- | 14-09-2018
      //- hr
      //- hr
      //- | TIME BAZAR OPEN PANNA **268** PASS...
      //- br
      //- | TIME BAZAR JODI **61** PASS...
      //- br
      //- | RAJDHANI DAY OPEN PANNA **469** PASS...
      //- br
      //- | RAJDHANI DAY CLOSE PANNA **679** PASS...
      //- br
      //- | KALYAN JODI **66** PASS...
      //- br
      //- | MILAN NIGHT CLOSE PANNA **789** PASS...
      //- br
      //- | RAJDHANI NIGHT CLOSE PANNA **780** PASS...
      //- hr
      //- | TIME BAZAR OPEN **6** PASS...
      //- br
      //- | MILAN DAY OPEN **8** PASS...
      //- br
      //- | MILAN DAY CLOSE **9** PASS...
      //- br
      //- | MILAN DAY JODI **89** PASS...
      //- br
      //- | RAJDHANI DAY OPEN **9** PASS...
      //- br
      //- | KALYAN OPEN **6** PASS...
      //- br
      //- | KALYAN CLOSE **6** PASS...
      //- br
      //- | KALYAN JODI **66** PASS...
      //- br
      //- | RAJDHANI NIGHT OPEN **5** PASS...
      //- br(main='', mumbai='', open='', **6**='', pass...<hr='')
      hr
      | Game By:- (ADMIN SIR)
      br
      | 
    //- .satta-matka-block_strt_786
    //-   p(style='border-top-left-radius:1px;border-top-right-radius: 1px;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;background-color:#7a0025 !important;color:#fef101;font-size: 18px;font-weight: bold;') ❋ DAILY GAMES ZONE ❋ 
    //-   div(style='padding-right: 3px;padding-left: 3px;')
          
    //-       a(style='text-decoration:none;color:#780127 !important', href='/open_to_close')
    //-         .satta-matka-block_zone7(style='margin-top: -7px;')
    //-           | FREE OPEN TO CLOSE ON PUBLIC DEMAND
    //-       a(style='text-decoration:none;color:#780127 !important', href='/open_to_close')
    //-         .satta-matka-block_zone7(style='margin-top: -7px;margin-bottom: -6px;')
    //-           | WEEKLY JODI AND PANNA
    .satta-matka-block_strt_786
      p(style='border-top-left-radius:1px;border-top-right-radius: 1px;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;background-color:#7a0025 !important;color:#fef101;font-size: 18px;font-weight: bold;') ❋ 786 SPECIAL ZONE ❋ 
      div(style='padding-right: 3px;padding-left: 3px;')
        //- a(style='text-decoration:none;color:#780127 !important', href='/satta_matka_tricks_zone')
        //-   .satta-matka-block_zone7(style='margin-top: -15px;')
        //-     | ADMIN SIR EVERGREEN TRICK ZONE
        a(style='text-decoration:none;color:#780127 !important', href='/satmatrat/')
          .satta-matka-block_zone7(style='margin-top: -7px;')
            | KALYAN AND MUMBAI OLD 1974 TO 2012 GOLDEN CHART
        a(style='text-decoration:none;color:#780127 !important', href='outkhatri')
          .satta-matka-block_zone7(style='margin-top: -7px;margin-bottom: -6px;')
            | KHATRI FAVOURITE PANNA CHART
    .satta-matka-block_strt4
      p(style='border-top-left-radius:1px;border-top-right-radius: 1px;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;background-color:#FF0015 !important;color:#fef101;font-size: 18px;font-weight: bold;') ❋ CHART ZONE ❋ 
      div(style='padding-right: 3px;padding-left: 3px;')
        each sattan, i in satta
          a(style='text-decoration:none;color:#002736 !important',href='/number/'+sattan.id)
            .satta-matka-block_zone8(style='margin-top: -15px;')
              = sattan.name+' CHART'
       
    .satta-matka-block_strt_all_zone
      p(style='border-top-left-radius:1px;border-top-right-radius: 1x;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;background-color:#372f2d !important;color:#fef101;font-size: 18px;font-weight: bold;') ❋ ALL SATMATRAT PENAL CHART ❋ 
      div(style='padding-right: 3px;padding-left: 3px;')
        each sattan, i in satta
          a(style='text-decoration:none;color:#35302d !important', href='/patti/'+sattan.id)
            .satta-matka-block_zone9(style='margin-top: -15px;')
              = sattan.name+' CHART'
      
    //- .satta-matka-block_strt_ex_zone
    //-   p(style='border-top-left-radius:1px;border-top-right-radius: 1px;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;background-color:#97002e !important;color:#fef101;font-size: 18px;font-weight: bold;') ❋ EXTRA CHART ❋ 
    //-   div(style='padding-right: 3px;padding-left: 3px;')
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='kamal_day_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | KAMAL DAY PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='bhagyalaxmi_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | BAGHYALAXMI PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='mumbai_mail_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | MUMBAI MAIL PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='worli_mumbai_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | WORLI MUMBAI PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='super_kalyan_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | SUPER KALYAN PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='central_bombay_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | CENTRAL BOMBAY PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='kuber_morning_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | KUBER MORNING PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='prabhat_night_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | PRABHAT NIGHT PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='main_mumbai_day_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | MAIN MUMBAI DAY PENAL CHART
    //-     a(style='text-decoration:none;color:#7c0025 !important', href='night_time_bazar_penal_chart')
    //-       .satta-matka-block_zone10(style='margin-top: -7px;')
    //-         | NIGHT TIME BAZAR PENAL CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='kamal_day_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | KAMAL DAY CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='bhagyalaxmi_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | BHAGYALAXMI CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='mumbai_mail_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | MUMBAI MAIL CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='worli_mumbai_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | WORLI MUMBAI CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='super_kalyan_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | SUPER KALYAN CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='bombay_bazar_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | BOMBAY BAZAR CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='central_bombay_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | CENTRAL BOMBAY CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='kuber_morning_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | KUBER MORNING CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='prabhat_night_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | PRABHAT NIGHT CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='main_mumbai_day_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;')
    //-         | MAIN MUMBAI DAY CHART
    //-     a(style='text-decoration:none;color:#003f6b !important', href='night_time_bazar_jodi_chart')
    //-       .satta-matka-block_zone11(style='margin-top: -7px;margin-bottom: -6px;')
    //-         | NIGHT TIME BAZAR CHART
    .satta-matka-block_strt_adsen1
      | DISCLAIMER:- Viewing This WebSite Is On Your Own Risk.. All The information Shown On Website Is Based on Numerology and Astrology for Information Purposes .. We Are Not Associated with Any Illegal Matka Business or Gamblers.. We Warn You That Matka Gambling in Your Country May be Banned or Illegal... We Are Not Responsible For Any Issues or Scam... We Respect All Country Rules/Laws... If You Not Agree With Our Site Disclaimer... Please Quit Our Site Right Now. Copying/Promoting/Publishing Any of Our Content in Any Type Of Media or Other Source is Illegal and against Law.
    .satta-matka-block_strt_footer
      //- img(src='images/sattamatka-footer1.png', alt='satta', style='margin-top: -10px;')
      p(style='font-size: 14px;text-align:justify;font-weight: bold;color: #5c4c4c;')
        | Satmatrat.in is also known as satmatrat 786 also a world of Experts Guessing Forum website and one of the most Visited Satta Site amongst people engaged in Satmatrat, satta bazar, matka bazar, Time Bazar, Milan Day/Night, Kalyan Matka, Rajdhani Day/Night Satta, Mumbai main And We Provide Super Fast and Fastest matka results Apart From Other Players in Industry Our Content Helps You To Big wins. We Provide Live Updates, Guessing Forum Where Our Experts Helps You To Quickest Earnings. Free Open and close for Public Welfare Weekly Jodi & Panna with Lifetime Golden win Chart in 786 SPECIAL ZONE You will Get to know Evergreen Tricks Zone and old charts of Kalyan Matka & Mumbai Matka Of 1972 to 2012 With King Maker Khatri's Favorite Panna also know as leaf and behalf of CHARTS ZONE We Provide You Kalyan Chart Mumbai Chart Supreme Chart Milan day Milan Night Chart & Rajdhani Day & Night Jodi Chart With Penal patti leafs. satta to name a few. Our website has come out as an undisputed leader in this arena since we started working over years ago. And we attribute this success to our consistent efforts in publishing the results of all Satka Matka game at the earliest and quicker than all other players in this market.
      a(href='satta-matka-history-wiki')
        button.refresh Read More
    each footer, i in footers
      div(style='background-color: '+footer.bgcolor+';border-radius: 5px;font-size: 19px;padding: 10px;text-align: center;border: #fff solid 2px;font-style: italic;font-family: Montserrat, sans-serif;margin-top: 10px;margin-bottom: 10px;')
      
        h2.btn_red(style='font-size: 19px;color:'+footer.color+'')!= footer.text
      //- .btn_red
      //-   | SATMATRAT.IN
      //-   br
      //-   | ALL RIGHTS RESERVED
      //-   br
      //-   | (2012-2018)
      //-   br
      //-   | CONTACT ADMIN 
      //-   br
      //-   | 9112310269
      //-   br
    div(style='text-align: center;')
      a(href='http://satmatrat.in')
        img(style='width: auto; height: auto;float:left' src='images/back-btn.png', alt='satta')
      a(href='http://satmatrat.in')
        img(style='width: auto; height: auto;float:right' src='images/home-btn.png', alt='satta')
    a(style='position:fixed; bottom:20px;right:5px;')
      input#Login(style='border:#141313 1px solid; background:#d9534f; color:white; height:auto; padding:5px; font-style:italic;', name='Refresh', value='Refresh', type='submit', onclick='window.location.reload()')
    div(style='text-align:center;')
      b
    








    #MyClockDisplay.clock
    style.
      .clock {
      position: absolute;
      /*top: 50%;*/
      /*left: 50%;*/
      transform: translateX(-50%) translateY(-50%);
      color: #17D4FE;
      font-size: 60px;
      font-family: Orbitron;
      letter-spacing: 7px;
      }
    script.
      function showTime(){
      var date = new Date();
      var h = date.getHours(); // 0 - 23
      var m = date.getMinutes(); // 0 - 59
      var s = date.getSeconds(); // 0 - 59
      var session = "AM";
      if(h == 0){
      h = 12;
      }
      if(h > 12){
      h = h - 12;
      session = "PM";
      }
      h = (h < 10) ? "0" + h : h;
      m = (m < 10) ? "0" + m : m;
      s = (s < 10) ? "0" + s : s;
      var time = h + ":" + m + ":" + s + " " + session;
      document.getElementById("MyClockDisplay").innerText = time;
      document.getElementById("MyClockDisplay").textContent = time;
      setTimeout(showTime, 1000);
      }
      showTime();

      var today = new Date();
      var day = today.getDay();
      var daylist = ["रविवार","	सोमवार","मंगळवार","बुधवार","गुरुवार","शुक्रवार","शनिवार"];
      var daylist1 = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
     
      var hour = today.getHours();
      var min = today.getMinutes();
      var suffix = (hour >= 12)? " PM" : " AM";
      hour = (hour >= 12)? hour - 12 : hour;
      if (hour === "0" && suffix === " PM"){
      if(min === "0" && sec === "0") {
      hour = 12;
      suffix = " Noon";
      }
      }
      else if (hour === "0" && suffix === " AM") {
      if(min === "0" && sec === "0") {
      hour = 12;
      suffix = " Midnight";
      }
      }
      var todayHTML = document.getElementById("todayHTML");
      var timeHTML = document.getElementById("timeHTML");
      var timeHTML1 = document.getElementById("timeHTML1");
      
      todayHTML.innerHTML = "" + daylist[day];
      if(daylist[day] == "रविवार"){
        document.getElementById("totalcolor").style.color = "black";
        document.getElementById("totalcolor").style.background = "red";
      }
      if(daylist[day] == "सोमवार"){
        document.getElementById("totalcolor").style.color = "#FFFFFF";
        document.getElementById("totalcolor").style.background = "black";
      }
      if(daylist[day] == "मंगळवार"){
        document.getElementById("totalcolor").style.color = "#FFFFFF";
        document.getElementById("totalcolor").style.background = "blue";
      }
      if(daylist[day] == "बुधवार"){
        document.getElementById("totalcolor").style.color = "black";
        document.getElementById("totalcolor").style.background = "green";
      }
      if(daylist[day] == "गुरुवार"){
        document.getElementById("totalcolor").style.color = "black";
        document.getElementById("totalcolor").style.background = "#FFFFFF";
      }
      if(daylist[day] == "शुक्रवार"){
        document.getElementById("totalcolor").style.color = "black";
        document.getElementById("totalcolor").style.background = "yellow";
      }
      if(daylist[day] == "शनिवार"){
        document.getElementById("totalcolor").style.color = "#FFFFFF";
        document.getElementById("totalcolor").style.background = "red";
      }   
      
      todayHTML1.innerHTML = "" + daylist1[day];
      timeHTML.innerHTML = "the time is " + hour + suffix + " " + min;
      
    script.
      var today = new Date();
      var day = today.getDate();
      var month = today.getMonth() + 1;
      var year = today.getFullYear();
      if (day < 10) {
      day = '0' + day
      }
      if (month < 10) {
      month = '0' + month
      }
      var out = document.getElementById("output");
      out.innerHTML = "Date :- "+day + "/" + month + "/" + year;
  #disqus_thread
  script.
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://satmatrat-in.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  noscript
    | Please enable JavaScript to view the 
    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
  script#dsq-count-scr(src='//satmatrat-in.disqus.com/count.js', async='')




