style.
  .a {
 
  font-size: 35px;
     font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

  text-align: center;
  color: #000;
  
  }
  
  
  }
  
doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SAT MAT RAT(सटमटरट)
    meta(name='Description', content='SATTA MATKA | KALYAN | KALYAN MATKA NUMBER | MATKA RESULT | WWW.MATKA.COM | SATTAMATKA.COM |KALYAN MAIN MATKA TIPS | TODAY MATKA LUCKY NUMBER | SATTA NUMBER | SATTAMATKA CHART | KALYAN FAST RESULT | ONLINE MATKA SATTA RESULTS | SATMATRAT | INDIAN MATKA | SATTA KALYAN | SATTA KING')
    meta(name='Keywords', content='Satta matka, kalyan, matka result, kalyan matka, kalyan, matka.com, sattamatka.com, matka tips, today satta number, matka chart, indian matka, satta chart')
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    meta(http-equiv='pragma', content='no-cache')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='rp6W1xafL6sqKiIvmj0ndeLLFF7OfXPslrWxXCfFycU')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico|Roboto')
    
  style.
    .my-img{
        height:500px;
        width:300px;
    }
    .logo {
    color: #FF1493;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    }
    body {
    border: 3px solid #FF1493;
    width: 100%;
    height: 100%;
    background: black;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: "Trebuchet MS", cursive, sans-serif;
    }
  body
    div(align='center')
      h2.logo सटमटरट
    .B(align='center')
      table(width='100%', border='0', style='margin-bottom: -10px;')
        tbody
          tr
            td
            td(align='center')
              b
                span(style='color: #FF1493;')
                  marquee
                    big
                      | !!  Welcome Friends in the world of SATMATRAT matka group. May you always win. !!
    h5
   
      div(align='center', style='boder-width:3px;border-style:solid;border-color:navy;background-color:#FFF;border-radius:8px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;font-weight:bold;font-style:italic;text-align:center;font-size:large;text-shadow:1px 1px mintcream;margin-top: 9px; margin-bottom: 9px;font-family:Georgia;')
        //- .w3-panel.w3-round-xxlarge.w3-teal
        //-   h4 LIVE RESULTS
      //-   div(align='center')
      //-     .w3-card-4(style='width:80%;')
      //-       header.w3-container.w3-pink
      //-         h3 TIME BAZAR
      //-       .w3-container
      //-         h2 149-4
      //-       footer.w3-container.w3-pink
      //-         input.btn.btn-primary(onclick='window.location.reload()', value='Refresh Result', type='button')
       
        hr
       
      div(style='background-color:white;color:red;font-weight:bold;font-style:italic;font-size:large;text-decoration:none;border-width: 3px; border-color: blue; border-style: groove solid;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;font-weight: bold; font-family:times new roman, serif; font-style: italic;font-size: 20px; text-align:center;margin-top: 13px; margin-bottom: 3px;text-shadow: 1px 1px black;')
        big
          | WORLD ME SABSE FAST SATTA MATKA RESULT
      big
        big
          div(align='center')
            div(style='background:white')
              b
                font(size='4')
                  b
                    font(size='5')
                    each sattan, i in satta
                      div(style='margin-top:15px')
                      .w3-card-4(style='width:80%;')
                        header(class='w3-container w3-'+sattan.bgcolor+'')
                          h3= sattan.name
                        .w3-container
                          p.a= sattan.number
                        footer(class='w3-container w3-'+sattan.bgcolor+'')
                          h5!= sattan.time +" "+sattan.time1
                    
            b
              font(size='4')
                b
                  font(size='5')
          b
            font(size='4')
              b
                font(size='5')
    font(size='4')
      b
        font(size='5')
          div(align='center')
            h5
            div(align='center')
              h5
                div(style='background-color:#fff; color:black; font-size: 20px; border-width: 3px; border-style: solid;border-color: indigo;font-weight: bold; margin-top: 0px;margin-left: 0px;margin-right: 0px; margin-bottom: 3px; font-style:italic; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;font-family:times new roman')
                  div(style='background-color:WHITE; color:black; font-size: 30px; border-width: 3px;font-weight: bold; margin-top: 0px; margin-bottom: 0px;margin-left: 0px;margin-right: 0px; font-style:italic; padding-top: 5px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px;text-shadow:1px 1px blue')
                    .w3-panel.w3-round-xxlarge.w3-teal
                      h4 KALYAN BAZAR LUTMAR OFFER
                  each file, i in files
                    img(class="my-img" src='/Upimg/images/'+file.filename)
                  br
                 
    div(style='background:#fff; text-align:center;border:solid 3px #ff0000;margin:0px 5px 10px 5px;padding:5px 5px;font-size:17px; color:#000; font-weight:bold;')
      div(align='center')
        div(style='background-color:purple;')
          font(size='5', color='mintcream') CAPITAL BAZAR
        table.table.table-bordered
          tbody
            tr
              td
                font(size='3', color='Red')
                  b TIME
              td
                font(size='3', color='Red')
                  b RESULT
              td
                font(size='3', color='Red')
                  b TIME
              td
                font(size='3', color='Red')
                  b RESULT
            tr
              td
                font(size='3') 10:00
              td 140-5
              td 03:00 PM
              td **
            tr
              td
                font(size='3') 11:00
              td 360-9
              td 04:00 PM
              td **
            tr
              td
                font(size='3') 12:00
              td 250-7
              td 05:00 PM
              td **
            tr
              td
                font(size='3') 01:00
              td 236-1
              td 06:00 PM
              td **
            tr
              td
                font(size='3') 02:00
              td **
              td 07:00 PM
              td **
    div(style='background:#fff; text-align:center;border:solid 3px #ff0000;margin:0px 5px 10px 5px;padding:5px 5px;font-size:17px; color:#000; font-weight:bold;')
      div(align='center')
        div(style='background-color:purple;')
          font(size='5', color='mintcream') REAL BAZAR LIVE
        table.table.table-bordered
          tbody
            tr
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
            tr
              td
                font(size='3') 09:05AM
              td
                font(size='4', color='blue') 257-4
              td
                font(size='3') 03:05 PM
              td
                font(size='4', color='blue') *
            tr
              td
                font(size='3') 10:05AM
              td
                font(size='4', color='blue') 116-8
              td
                font(size='3') 04:05 PM
              td
                font(size='4', color='blue') *
            tr
              td
                font(size='3') 11:05AM
              td
                font(size='4', color='blue') 148-3
              td
                font(size='3') 05:05 PM
              td
                font(size='4', color='blue') *xxx
            tr
              td
                font(size='3') 12:05PM
              td
                font(size='4', color='blue') 270-9
              td
                font(size='3') 06:05 PM
              td
                font(size='4', color='blue') *xxx
            tr
              td
                font(size='3') 01:05PM
              td
                font(size='4', color='blue') 458-7
              td
                font(size='3') 07:05 PM
              td
                font(size='4', color='blue') *xxx
            tr
              td
                font(size='3') 02:05PM
              td
                font(size='4', color='blue') *
              td
                font(size='3') 08:05 PM
              td
                font(size='4', color='blue') *xxx
    div(style='background:#fff; text-align:center;border:solid 3px #ff0000;margin:0px 5px 10px 5px;padding:5px 5px;font-size:17px; color:#000; font-weight:bold;')
      div(align='center')
        div(style='background-color:purple;')
          font(size='5', color='mintcream') Mumbai Rajshree Star Line Result
        table.table.table-bordered
          tbody
            tr
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
            tr
              td
                font(size='3') 09:30AM
              td
                font(size='4', color='blue') 169-6
              td
                font(size='3') 03:30 PM
              td
                font(size='4', color='blue') WAiT
            tr
              td
                font(size='3') 10:30AM
              td
                font(size='4', color='blue') 128-1
              td
                font(size='3') 04:30 PM
              td
                font(size='4', color='blue') WAIT
            tr
              td
                font(size='3') 11:30AM
              td
                font(size='4', color='blue') 360-9
              td
                font(size='3') 05:30 PM
              td
                font(size='4', color='blue') WAIT
            tr
              td
                font(size='3') 12:30PM
              td
                font(size='4', color='blue') 778-2
              td
                font(size='3') 06:30 PM
              td
                font(size='4', color='blue') WAiT
            tr
              td
                font(size='3') 01:30PM
              td
                font(size='4', color='blue') 279-8
              td
                font(size='3') 07:30 PM
              td
                font(size='4', color='blue') ***-*
            tr
              td
                font(size='3') 02:30PM
              td
                font(size='4', color='blue') WAIT
              td
                font(size='3') 08:30 PM
              td
                font(size='4', color='blue') ***-*
    div(style='background:#fff; text-align:center;border:solid 3px #ff0000;margin:0px 5px 10px 5px;padding:5px 5px;font-size:17px; color:#000; font-weight:bold;')
      div(align='center')
        div(style='background-color:purple;')
          font(size='5', color='mintcream') NEW KRITI LINE MARKET
        table.table.table-bordered
          tbody
            tr
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
            tr
              td
                font(size='3') 09:30AM
              td
                font(size='4', color='blue') 115-7
              td
                font(size='3') 03:30 PM
              td
                font(size='4', color='blue') ***
            tr
              td
                font(size='3') 10:30AM
              td
                font(size='4', color='blue') 259-6
              td
                font(size='3') 04:30 PM
              td
                font(size='4', color='blue') ***
            tr
              td
                font(size='3') 11:30AM
              td
                font(size='4', color='blue') 360-9
              td
                font(size='3') 05:30 PM
              td
                font(size='4', color='blue') ???
            tr
              td
                font(size='3') 12:30PM
              td
                font(size='4', color='blue') 246-2
              td
                font(size='3') 06:30 PM
              td
                font(size='4', color='blue') ???
            tr
              td
                font(size='3') 01:30PM
              td
                font(size='4', color='blue') 890-7
              td
                font(size='3') 07:30 PM
              td
                font(size='4', color='blue') ???
            tr
              td
                font(size='3') 02:30PM
              td
                font(size='4', color='blue') ***
              td
                font(size='3') 08:30 PM
              td
                font(size='4', color='blue') ???
    div(style='background:white; text-align:center;border:solid 3px #ff0000;margin:0px 5px 10px 5px;padding:5px 5px;font-size:17px; color:#000; font-weight:bold;')
      div(align='center')
        div(style='background-color:purple;')
          font(size='5', color='mintcream') Main Star Line Result
        table.table.table-bordered
          tbody
            tr
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
            tr
              td
                font(size='3') 09:00AM
              td
                font(size='4', color='blue') 169-6
              td
                font(size='3') 03:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 10:00AM
              td
                font(size='4', color='blue') 358-6
              td
                font(size='3') 04:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 11:00AM
              td
                font(size='4', color='blue') 590-4
              td
                font(size='3') 05:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 12:00PM
              td
                font(size='4', color='blue') 167-4
              td
                font(size='3') 06:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 01:00PM
              td
                font(size='4', color='blue') 500-5
              td
                font(size='3') 07:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 02:00PM
              td
                font(size='4', color='blue') **
              td
                font(size='3') 08:00 PM
              td
                font(size='4', color='blue') **
    div(style='background:#fff; text-align:center;border:solid 3px #ff0000;margin:0px 5px 10px 5px;padding:5px 5px;font-size:17px; color:#000; font-weight:bold;')
      div(align='center')
        div(style='background-color:purple;')
          font(size='5', color='mintcream') Maharashtra Star Line Result
        table.table.table-bordered
          tbody
            tr
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
              td
                font(size='4', color='Red')
                  b TIME
              td
                font(size='4', color='Red')
                  b RESULT
            tr
              td
                font(size='3') 09:00AM
              td
                font(size='4', color='blue') 124-7
              td
                font(size='3') 03:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 10:00AM
              td
                font(size='4', color='blue') 234-9
              td
                font(size='3') 04:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 11:00AM
              td
                font(size='4', color='blue') 489-1
              td
                font(size='3') 05:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 12:00PM
              td
                font(size='4', color='blue') 260-8
              td
                font(size='3') 06:00 PM
              td
                font(size='4', color='blue') **
            tr
              td
                font(size='3') 01:00PM
              td
                font(size='4', color='blue') 457-6
              td
                font(size='3') 07:00 PM
              td
                font(size='4', color='blue') **
        .date(align='center')
          div(style='background-color:white;')
            a(href='#', title='satta matka')
              big Free Satta Matka Website Click Here 
        div(style='font-style: italic;font-family:times new roman; ', align='center')
          h5
          div(style='background-color:transparent;color:black;font-weight:bold;font-style:italic;font-size:large;; border: 3px solid #6900CC;')
            h5
              font(color='#FF1493')
                big
                  | V I P MEMBERSHIP PASSING RECORD
                  br
                  | 23/06/2018
                hr
                ul.list-group
                  each setting, i in settings   
                    li.list-group-item.list-group-item-!= setting.title
                //-   li.list-group-item.list-group-item-info Milan Day Fix Jodi 53 Pass
                //-   li.list-group-item.list-group-item-warning Rajdhani Day Fix Open 4 Pass
                //-   li.list-group-item.list-group-item-danger Kalyan Open Patti 234 Pass
                //-   li.list-group-item.list-group-item-success
                //-     a(href='chart.html', style='color:blue') Kalyan Fix Jodi 94 PAss
                //-   li.list-group-item.list-group-item-info
                //-     a(href='chart.html', style='color: blue') Kalyan fix close Patti 455 pass
                //-   li.list-group-item.list-group-item-warning
                //-     a(href='chart.html', style='color: blue') Milan Night Fix Open Patti 348 Pass
                //-   li.list-group-item.list-group-item-danger
                //-     a(href='chart.html', style='color: blue') Rajdhani Night Fix Open 1 Pass
                //-   li.list-group-item.list-group-item-success Rajdhani Night Fix Open Patti 489 Pass
                //-   li.list-group-item.list-group-item-info Main Mumbai Fix Open 3 Pass
                //-   li.list-group-item.list-group-item-warning Main Mumbai Fix Open patti 337 PassPass
                //-   li.list-group-item.list-group-item-danger
                //-     | AAj ka FIX CHALLENGE PATTI JODI SPECIAL GAME JODI AUR PATTI 100% PASSING 1 JODI 2 PATTI ADVANCE ONLY 4000/-RS. FREE DEMO WALE CALL NA KARE
            font(color='#FF1493')
              div(style='background-color:white;')
                h5
                  | Game By:- SATMATRAT 
                  br
                //- big
                //-   | Call 07939593234
                hr
          font(color='#FF1493')
            div(align='center')
              style.
                .date {
                background-color: #fff;
                color: black;
                font-weight: bold;
                font-style: italic;
                font-size: large;
                text-decoration: none;
                border-width: 3px;
                border-color: green;
                border-style: solid;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 5px;
                margin-right: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 0;
                text-shadow: 1px 1px #FFCC99;
                }
              div(align='center')
                .date(align='center')
                  big
                    | Astrology Weekly Patti Or Penal Chart From 18-06-2018 To 24-06-2018 For Kalyan Milan Main Rajdhani Time Matka Market
                    br
                  font(size='4')
                    center
                      b 1 470 489 678 344
                    center
                      b 2 237 570 679 138
                    center
                      b 3 157 490 670 445
                    center
                      b 4 158 239 248 167
                    center
                      b 5 889 456 690 113
                    center
                      b 6 178 240 457 367
                    center
                      b 7 269 359 368 458
                    center
                      b 8 189 369 224 990
                    center
                      b 9 234 270 469 478
                    center
                      b 0 280 569 578 550
                br
                .date(align='center')
                  big
                    | Astrology Weekly Line Open Or Close From 18-06-2018 To 24-06-2018 For Kalyan Milan Main Rajdhani Time Matka Market
                    br
                  font(size='4')
                    b Mon. 1 6 3 8 
                    br
                    b Tue. 2 7 5 0
                    br
                    b Wed. 3 8 5 0
                    br
                    b Thu. 3 8 4 9
                    br
                    b Fri. 2 7 4 9
                    br
                    b Sat. 1 6 4 9
                    br
                    b Sun. 3 8 4 9
                br
                .date(align='center')
                  big
                    | Astrology Weekly Jodi Chart From 18-06-2018 To 24-06-2018 For Kalyan Milan Main Rajdhani Time Matka Market
                  font(size='4')
                    b 20 27 28 29
                    br
                    b 45 47 48 49
                    br
                    b 98 94 91 92
                    br
                    b 86 83 85 84
                    br
                    b 67 64 68 65
                    br
                    b 54 57 50 55
                  br
            
              br
              .pannel(align='center')
                h3  Matka Panel Chart 
              br
              ul.list-group
                each sattan, i in satta
                    li.list-group-item.list-group-item-success
                        a(href='/patti/'+sattan.id, style='color:blue')= sattan.name+' CHART'
              
            .pannel(align='center')
              h3  Matka 
                | Jodi Chart
            br
            ul.list-group
                each sattan, i in satta
                    li.list-group-item.list-group-item-success
                        a(href='/number/'+sattan.id, style='color:blue')= sattan.name+' CHART'
           
            br
            .pannel(align='center') WARNING
            br
            .B(style='background-color:white', align='center')
              font(size='4', color='red')
                b
                  | !! Attention Visitors !! :- All The Above Lucky Numbers Are Based On Astrological, Numerological & Mathematical Predictions That Are No Connected To Any Illegal Bussiness. Please Do Not Mis-Use It !!
            br
            .pannel(align='center') ONLINE MATKA GAMES
            br
            .B(style='background-color:white', align='center')
              .alert.alert-success
                h4(size='2')
                  div(style='margin-top:15px')
                  |                             We are the most popular online 
                  a(href='') Satta Matka
                  |  Website that provides the quick Satta Matka Result and Satta Number. Be in touch with our website for fastest Kalyan Matka or Satta Matka Tips.
                  |                             We are giving you an opportunity to become a Satta King using Our Online Satta Matka Result. We welcome you in the amazing world of Satta Matka. This is official Matka site for real matka players. This is the worlds most famous
                  a(href='') Matka
                  |  website love by people engaged in 
                  a(href='') Satta Bazar
                  |  in Time Bazar, Milan Day/Night, Kalyan Matka, Rajdhani Day/Night Satta, Mumbai main And. We, Satta
                  |                             Matka, provide quickest and Super Results and error free predictions. We are the only one who can help you big in earning huge money. Satta Matka is globally renowned website for 
                  a(href='') Satta Com
                  | ,
                  |                             Gali Satta, Milan Day and Night Matka Satta results. We are experts in guessing New Delhi matka and Kalyan Matka results in seconds without even fraction of errors. Want to check out Satta Matka Live for fix Satta matka results?
                  |                             Browse and know Satta matka numbers on our websites. We have been a numero uno player in Satta Matka number guessing, Satta King, 
                  a(href='') Satta Result
                  | , matka number, Kalyan Matka Chart Result, Kalyan
                  |                             Matka single game, Kalyan Matka fix game, Disawar Satta, Milan Day Satta, Milan Night Matka, Rajdhani Day Satta, Rajdhani Night Matka, Delhi Satta, Ghaziabad Matka, Faridabad Satta Chart, Kuber Matka and Mumbai Main Satta records
                  |                             and tips and 
                  a(href='') SATTA MARKET
                  |  As Well.
                br
                a(href='') READ MORE
            div(align='center')
              | MUMBAI HEAD OFFICE
            //- .B Powered by 
            a(href="https://still-basin-39891.herokuapp.com/admin/") SATMATRAT.IN
            a(style='position:fixed; bottom:80px;right:5px;')
              input#Login.btn.btn-primary.btn-sm(name='Refresh', value='Refresh', type='submit', onclick='window.location.reload()')
    iframe#google_osd_static_frame_4327052573186(name='google_osd_static_frame', __idm_frm__='18', style='display: none; width: 0px; height: 0px;', src='./web/saved_resource(8).html')
    div(style='display: none;')
      iframe.goog_xca_frame(frameborder='0', marginwidth='0', marginheight='0', vspace='0', hspace='0', allowtransparency='true', scrolling='no', __idm_frm__='30', style='opacity: 0; transition: none;', src='./web/saved_resource(9).html')
