head
  //- meta(http-equiv="content-type" content="text/html; charset=UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= findtitlen.name
  meta(name="description" content="TIME BAZAR MATKA PENAL PANEL CHART RECORD PANNA PATTI \
  PATTA RECORD TIME BAZAR RESULTS RECORD MUMBAI MATKA RECORD TIME BAZAR MATKA TIPS CHART TIME BAZAR HISTORY CHART TIME BAZAR PANNA CHART KALYAN PATTI PATTA CHART ONLINE LIVE FIX NUMBER \
  BAZAR MAIN MUMBAI MATKA RECORD CHART BOOK")
  meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
  script(src="https://pagead2.googlesyndication.com/pagead/js/r20180627/r20180604/osd.js")
  script(type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js")
  script(src="https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-5644214016514570.js")
  script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-46528741-7")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-46528741-7');
  script(src="js/tbutton.js")
  style(type="text/css").
    body{font-size:30px}.chartwale{background-color:gold;color:black;border-width:5px;border-color:red;border-style:outset;margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.date{background-color:gold;color:black;border-width:3px;border-color:brown;border-style:outset;margin-top:10px;margin-bottom:10px;padding-top:10px;padding-bottom:10px;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.date
    a{color:black}.HEADER{background-color:black;color:white;border-width:5px;border-color:gold;border-style:double;margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.HEADER
    a{color:red}.HEADLINES{background-color:#90F;color:WHITE;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.HEADLINES
    a{color:black}.kalyanresult{background-color:LightSkyBlue;color:black;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.kalyanresult
    a{color:black}.KHALI{background-color:black;color:gold;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.KHALI
    a{color:purple}.mainresult{background-color:LawnGreen;color:black;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.NOTICE{background-color:black;color:GOLD;border-width:5px;border-color:red;border-style:dotted;margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.NOTICE
    a{color:black}.TOP{background-color:RED;color:WHITE;border-width:2px;border-color:BLUE;border-style:solid;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.online{background-color:black;color:#FF0080;font-weight:bold;font-style:italic;font-size:large;text-decoration:blink}.DisplayResult{font-size:19pt}.boxes_titles{text-align:center;color:#000;font-weight:bold}.boxes_dash{text-align:center;color:#000;font-weight:bold}.boxes_text_win_numbers{text-align:center;color:#000;font-weight:800;font-size:25pt}body{background-color:black;font-size:large;font-family:Comic
    Sans MS;font-weight:bold}a{color:Red}
  style.
    .HEADLINES,body{
    font-weight:700;
    font-size:large
    }
    body{
    background-color:#000;
    color:#fff;
    font-family:Comic Sans MS
    }
    a{
    color:Red
    }
    .HEADLINES{
    background-color:#f4430b;
    color:#fff;
    font-style:italic;
    text-decoration:blink; padding:16px;
    }
    .a1{
    background:#FF0040
    }
    .a2{
    color:#fff;
    font-size:30px
    }
    table{
    background-color:#fff;
    color:#000;
    width:60%;
    border-style:double ;
    }
    th{
    background:#FFF
    }
    td,th{
    padding:0px;
    text-align:center;
    border-bottom: 2px solid #9e9e9e;
    }
    tdfffff:nth-child(1) {
    border-right:1px solid blue;
    padding-right:3px;
    }
    td:nth-child(19) {
    padding-right:5px;
    }
    @media screen and (min-width:500px){
    .normal,.redword{
    background-color:#fff;
    font-size:28px
    }
    .tabfirst{
    margin:auto;
    width:50%
    }
    .redword{
    color:red
    }
    td{
    font-size:16px;
    padding:5px 3px
    }
    }
    table tr td:nth-child(11),table tr td:nth-child(12),table tr td:nth-child(14),table tr td:nth-child(15),table tr td:nth-child(17),table tr td:nth-child(18),table tr td:nth-child(2),table
    tr td:nth-child(20),table tr td:nth-child(21),table tr td:nth-child(3),table tr td:nth-child(4),table tr td:nth-child(5),table tr td:nth-child(6),table tr td:nth-child(8),table tr
    td:nth-child(9){
    background-color:#fff;
    font-style:italic
    }
    @media screen and (max-width:500px){
    .normal,.redword{
    background-color:#fff;
    font-size:13px
    }
    table{
    max-width:100%;
    min-width:60%
    }
    .redword{
    color:red
    }
    td{
    font-size:10px;
    padding:1px
    }
    table{
    background-color:#fff;
    color:#000;
    width:100%;
    border-style:double ;
    }
    }
    @media screen and (max-width:320px){
    .normal,.redword{
    background-color:#fff;
    font-size:12px
    }
    table{
    max-width:100%;
    min-width:60%
    }
    .redword{
    color:red
    }
    td{
    font-size:8px;
    padding:3px 1px
    }
    }
    table tr td:nth-child(1){
    font-style:italic;
    }
    table tr td:nth-child(10),table tr td:nth-child(13),table tr td:nth-child(16),table tr td:nth-child(19),table tr td:nth-child(22),table tr td:nth-child(7){
    font-style:italic;
    background-color:#fff;
    }
   .abb{
     font-size:40px;
         font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

   }
    .ab 
    {
    
    
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

  
    }
  
  
  
  link(rel="preload" href="https://adservice.google.co.in/adsid/integrator.js?domain=sattamatka.mobi" as="script")
  script(type="text/javascript" src="https://adservice.google.co.in/adsid/integrator.js?domain=sattamatka.mobi")
  link(rel="preload" href="https://adservice.google.com/adsid/integrator.js?domain=sattamatka.mobi" as="script")
  script(type="text/javascript" src="https://adservice.google.com/adsid/integrator.js?domain=sattamatka.mobi")
i
  center
  .HEADLINES(align="center")
    big= findtitlen.name
  br
  div(align="center")
    script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  .date(align="center")
    font(size="6")
      span(style="color: #ff0000;")= findtitlen.name
    table(cellspacing="0")
      thead
        tr
          td(bordercolor="#6699CC" bordercolorlight="#FFFFFF" bordercolordark="#6699CC")
            //- p(align="center")
            //-   font(size="4") DATE
          td(colspan="3" align="center" valign="middle" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") MON
          td(align="center" colspan="3" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") TUE
          td(align="center" colspan="3" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") WED
          td(align="center" colspan="3" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") THU
          td(align="center" colspan="3" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") FRI
          td(align="center" colspan="3" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") SAT
          td(align="center" style="padding-right:7px;" colspan="3" bordercolor="#6699CC" bordercolorlight="#6699CC" bordercolordark="#6699CC")
            font(size="4") SUN
      tbody
        -var l =7
        - var countrows = chartnn.length/7+1
        -for (var k = 1; k <= countrows; k++)
          tr
          
          
            each val, i in chartnn
              -var x =l*k
              -if (i<x)
                - var m= k-1
                - var y= l*m
                -if (i>=y)
                  div

                      td
                          span(style='color:'+val.color+'').ab= val.l1
                          br
                          span(style='color:'+val.color+'').ab= val.l2
                          br

                          span(style='color:'+val.color+'').ab= val.l3
                      td
                          span(style='color:'+val.color+'').abb.normal= val.m1+val.m2
                      td
                          span(style='color:'+val.color+'').ab= val.r1
                          br
                          span(style='color:'+val.color+'').ab= val.r2
                          br
                          span(style='color:'+val.color+'').ab= val.r3
          
  style.
    /* demo-pricing */
    .demo-pricing {
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    }
    .demo-pricing:active {
    padding-top: 15px;
    margin-bottom: -1px;
    }
    .demo-pricing, .demo-pricing:hover, .demo-pricing:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
    }
    .demo-pricing-1 {
    background-color: #3fb8e8;
    box-shadow: 0px 3px 0px 0px #3293ba;
    }
    .demo-pricing-1:hover {
    background-color: #1baae3;
    }
    .demo-pricing-1:active {
    box-shadow: 0px 1px 0px 0px #3293ba;
    }
    .demo-pricing-2 {
    background-color: #f06060;
    box-shadow: 0px 3px 0px 0px #cd1313;
    }
    .demo-pricing-2:hover {
    background-color: #ed4444;
    }
    .demo-pricing-2:active {
    box-shadow: 0px 1px 0px 0px #cd1313;
    }
    .demo-pricing-3 {
    background-color: #ff6a80;
    box-shadow: 0px 3px 0px 0px #da0020;
    }
    .demo-pricing-3:hover {
    background-color: #ff566f;
    }
    .demo-pricing-3:active {
    box-shadow: 0px 1px 0px 0px #da0020;
    }
    /* demo-info */
    .demo-info {
    padding: 14px 26px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    }
    .demo-info:active {
    padding-top: 15px;
    }
    .demo-info, .demo-info:hover, .demo-info:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
    }
    .demo-info-1 {
    background-color: #fdc058;
    box-shadow: 0px 3px 0px 0px #e29003;
    }
    .demo-info-1:hover {
    background-color: #fdb53a;
    }
    .demo-info-1:active {
    box-shadow: 0px 1px 0px 0px #e29003;
    }
    .demo-info-2 {
    background-color: #aa65c7;
    box-shadow: 0px 3px 0px 0px #883da7;
    }
    .demo-info-2:hover {
    background-color: #9e4fbf;
    }
    .demo-info-2:active {
    box-shadow: 0px 1px 0px 0px #883da7;
    }
    .demo-info-3 {
    background-color: #2ecc71;
    box-shadow: 0px 3px 0px 0px #239a55;
    }
    .demo-info-3:hover {
    background-color: #28b363;
    }
    .demo-info-3:active {
    box-shadow: 0px 1px 0px 0px #239a55;
    }
  script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  ins.adsbygoogle(style="display: block; height: 113px;" data-ad-client="ca-pub-5644214016514570" data-ad-slot="9319732348" data-ad-format="auto" data-adsbygoogle-status="done")
    ins#aswift_1_expand(style="display: inline-table; border: none; height: 113px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 1200px; background-color: transparent;")
      ins#aswift_1_anchor(style="display: block; border: none; height: 113px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 1200px; background-color: transparent; overflow: hidden;")
        iframe#aswift_1(width="1200" height="113" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&&s.handlers,h=H&&H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&&d&&(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" name="aswift_1" style="left: 0px; position: absolute; top: 0px; width: 1200px; height: 113px;")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
  br
  br
  div(align="center")
    a(href="javascript:void(0);" style="top: 70px;right: 10px;z-index: 99;border: none;outline: none;background-color: \
    #428bca;color: #fff;cursor: pointer;padding: 10px;border-radius: 3px;text-decoration:none; font-size: large; font-weight: 700; font-family:Calibri;" onclick="topFunction()") Go To Top
  div(align="center")
  style.
    #top_five {
    background-color: #ffff00;
    border-color: #00008d;
    border-left: 3px solid #00008d;
    border-right: 3px solid #00008d;
    border-style: dashed;
    border-radius: 20px;
    border-width: 3px;
    color: #000000;
    font-family: "Times New Roman",Times,serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
    margin-top: 10px;
    text-align: center;
    }
    #pic {
    margin-top: 5px;
    text-align: center;
    width: 100%;
    }
//- p
//-               | 09/07/18
//-               br
//-               | to
//-               br
//-               | 15/07/18