extends layout
block content
    
    form(method='POST',action='/patti/chart/edit/'+sattan._id)
        .row
            h3 Add To Chart 
        .col.s12
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Name:
                    input.form-control(name='name',type='text',value=sattan.name)

            
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") :
                    input.myinput(name='l1',type='text' ,style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='l2',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='l3',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='m1',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='m2',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='r1',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='r2',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    input.myinput(name='r3',type='text',style="width:40px; height:40px;border-radius:10px;margin-left:30px; border:1px solid grey; float:left;")
                    
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Color
                    input.form-control(name='color',type='text')
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Time 1
                    input.form-control(name='time',type='time',value=sattan.time)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Time 2
                    input.form-control(name='time1',type='time',value=sattan.time1)
            .row
                .input-field.col.s12
                    label(style="margin-left:120px") Date
                    input.form-control(name='date',type='date',value=sattan.date)
            .row
                .input-field.col.s12
                    
                    button.btn(type="submit",onclick="M.toast({html: 'Data Updated'})") Submit
        .col.s12
            .row
                table.table.table-hover.table-dark(id="example")
                    thead
                        td Name
                        
                        td Patti    
                        td Time 1
                        td Time 2
                        td Date
                        td Edit
                        td Delete
                
    
                    each chart, i in charts
                        tbody
                            td= chart.name
                            
                            td= chart.l1+' '+chart.l2+' '+chart.l3+' '+chart.m1+' '+chart.m2+' '+chart.r1+' '+chart.r2+' '+' '+chart.r3+' '
                            td= chart.time
                            td= chart.time1
                            td= chart.date
                            td
                                a.btn.btn-dark(title="Edit",onclick="M.toast({html: 'Edit Data'})",data-toggle="tooltip", data-placement="bottom",href='/livesatta/edit/'+chart ._id)
                                    i.fa.fa-pencil 
                            td
                                form(action='/livesatta/delete/'+chart._id+'?_method=DELETE',method='POST')
                                    button.btn.btn-dark(type='submit' title="Remove",onclick="M.toast({html: 'Data Removing'})",data-toggle="tooltip", data-placement="right")
                                        i.fa.fa-trash
            
            
          
          
      
                    
      
                    
        
				
		
			
				
			
   
