extends layout
block content
    
    form(method='POST',action='/weekly')
        .row
            h4 Open To Close
            
        .col.s6
            .row
                .input-field.col.s12
                    label Head:
                    input.form-control(name='head',type='text')

            .row
                .input-field.col.s12
                    label Head Color:
                    input.form-control(name='headcolor',type='text')
            .row
                .input-field.col.s12
                    label Head Background Color:
                    input.form-control(name='headbg',type='text')
            .row
                .input-field.col.s12
                    label Text:
                    input.form-control(name='text',type='text')
            .row
                .input-field.col.s12
                    label Text Color:
                    input.form-control(name='textcolor',type='text')
            
            .row
                .input-field.col.s12
                    
                    button.btn(type="submit") Submit
            
        .col.s6
        
            table.table.table-hover.table-dark(id="example")
                thead
                    td Head
                    td Head Color
                    td Head Background
                    td Text 
                    td Text Color
                  
                    td Edit
                    td Delete
                   
     
                each weekly, i in weeklys
                    tbody
                        td= weekly.head
                        td= weekly.headcolor
                        td= weekly.headbg
                        td= weekly.text
                        td= weekly.textcolor
                       
                        td
                            a.btn.btn-dark(title="Edit",onclick="M.toast({html: 'Edit Data'})",data-toggle="tooltip", data-placement="bottom",href='/weekly/edit/'+weekly._id)
                                i.fa.fa-pencil 
                        td
                            form(action='/weekly/delete/'+weekly._id+'?_method=DELETE',method='POST')
                                button.btn.btn-dark(type='submit' title="Remove",onclick="M.toast({html: 'Data Removing'})",data-toggle="tooltip", data-placement="right")
                                   i.fa.fa-trash
                            
                                    
                                
                          
                
          
        br
        br
        br
        br
      
                    
      
                    
        
				
		
			
				
			
   
